.site-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  &__link {
    margin-right: ms(1);
  }
  .site-header__nav-visible:checked + & {
    
  }
  @media #{$bp--medium} {
    flex-direction: column;
  }
}