[submodule "_plugins/asset_bundler"]
	path = _plugins/asset_bundler
	url = git://github.com/moshen/jekyll-asset_bundler.git
[submodule "_plugins/jekyll-picture-tag"]
	path = _plugins/jekyll-picture-tag
	url = https://github.com/robwierzbowski/jekyll-picture-tag.git
[submodule "js/picturefill"]
	path = js/picturefill
	url = https://github.com/scottjehl/picturefill.git
[submodule "js/matchMedia"]
	path = js/matchMedia
	url = https://github.com/paulirish/matchMedia.js.git
[submodule "_plugins/jekyll_flickr_set_tag"]
	path = _plugins/jekyll_flickr_set_tag
	url = https://github.com/tsmango/jekyll_flickr_set_tag.git
