<input type="text" placeholder="Placeholder Text" />
<input type="text" value="Value Text" />
<input type="text" placeholder="Required" required />
<input type="text" placeholder="disabled" disabled />

<input type="search" placeholder="Search" />

<label><input type="checkbox"> Checkbox 1</label>
<label><input type="checkbox" checked> Checkbox 2</label>

<label><input type="radio" name="testradios"> Option 1</label>
<label><input type="radio" name="testradios" checked> Option 2</label>
<label><input type="radio" name="testradios"> Option 3</label>
