* {
  box-sizing: border-box;
}

html {
  font-size: ($fz-base * 1.5);
  @include mq(m) {
    font-size: $fz-base;
  }
  @include mq(xl) {
    font-size: ($fz-base * 1.8);
  }
}

body{
  @include body-font();
}

img {
  max-width: 100%;
  height: auto;
}

// Heading Element Styles
h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

a {
  @include link();
}

b,
strong {
  @include body-font($bold: true);
}

p {
  
}

blockquote {
  font-style: italic;
  border-left: solid 3px $color--gray;
  margin-left: $spacing;
  padding-left: $spacing;
}

code, kbd, pre, samp {
  font-family: $font--mono;
}

code {
  padding: 0 5px;
  border: solid 1px $color--gray--lighter;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 0.75em;
  color: $color--gray--dark;
}

pre {
  background: hsl(0, 0%, 17%);
  padding: $gap;
  border-radius: $gap;
  code {
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 1em;
    color: white;
  }
}
