* {
  box-sizing: border-box;
}

html {
  font-size: ($fz-base * 1.3);
  @include mq(m) {
    font-size: $fz-base;
  }
  @include mq(xl) {
    font-size: ($fz-base * 1.1);
  }
}

body{
  @include body-font();
}

img {
  max-width: 100%;
  height: auto;
}

// Heading Element Styles
h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

a {
  @include link();
}

b,
strong {
  @include body-font($bold: true);
}

p {
  margin: 0 0 $spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol,
dl {
  margin: 0 0 $spacing;
  padding: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin: 0 0 $spacing $spacing;
  padding: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  font-style: italic;
  border-left: solid 3px $color--gray;
  margin: 0 0 $spacing $spacing;
  padding-left: $spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

code, kbd, pre, samp {
  font-family: $font--mono;
}

code {
  padding: 0 5px;
  border: solid 1px $color--gray--lighter;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 0.75em;
  color: $color--gray--dark;
}

pre {
  background: hsl(0, 0%, 17%);
  padding: $gap;
  border-radius: $gap;
  margin-bottom: $spacing;
  color: white;
  &:last-child {
    margin-bottom: 0;
  }
  code {
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 1em;
    color: white;
  }
}

// Glyph, by Harry Roberts
hr {
  padding: 0;
  border: none;
  border-top: medium double $color--gray;
  color: $color--gray--dark;
  text-align: center;
  font-family: Georgia, sans-serif;
  margin: 0 0 $spacing 0;
  clear: both;
  &:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
}
