.main-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  @include mq("s") {
    flex-direction: column;
  }
  &[min-width~="600px"] {
    margin: $gap 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    list-style-type: none;    
  }
  &__link {
    
  }
}
