.site {
  max-width: $width-xxxl;
  margin: 0 auto;
  padding: 0 $gap;
  &__header {

    @include mq("s") {
      
    }
    @include mq("xl") {
      width: 80%;
      position: relative;
      left: 20%;
    }
    @at-root .header__name {
      @include mq("s") {
        margin-left: 35px;
      }
      @include mq("xl") {
        margin-left: 0;
      }
    }
  }
  &__nav {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 50%;
    margin-left: -50%;
    background: $color--white--trans;
    box-shadow: 3px 0 3px hsla(0, 0%, 0%, 0.14);
    z-index: z("navFixed");
    text-align: right;
    padding: $spacing;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column-reverse;
    .has-site__nav-open & {
      margin-left: 0;
    }
    @include mq("s") {
      flex-direction: column;
      width: 33%;
      margin-left: -33%;
    }
    @include mq("xl") {
      width: 20%;
      margin-left: 0;
      text-align: left;
    }
    &-toggle {
      //@include h2();
      cursor: pointer;
      color: $color--blue;
      position: absolute;
      bottom: $spacing;
      right: 0;
      font-size: 24px;
      padding: 6px 6px 6px 10px;
      margin-right: -34px;
      background: $color--white--trans;
      border-radius: 0 6px 6px 0;
      box-shadow: 3px 0 3px hsla(0, 0%, 0%, 0.14);
      @include mq("s") {
        bottom: auto;
        top: 0.4rem;
      }
      @include mq("xl") {
        display: none;
      }
    }
  }
  &__content {
    z-index: 1;
    @include mq("xl") {
      width: 80%;
      position: relative;
      left: 20%;
    }
  }
  &__footer {
    @include mq(xl) {
      width: 80%;
      position: relative;
      left: 20%;
    }
  }
}

