body {
  &.theme--dark {
    background: $c-gray--darker;
    color: $c-gray--lighter;
  }
  &.theme--light {
    color: $c-gray--darkest;
    //background: $c-gray--lightest;
  }
}

.site {
  padding: ms(3);
  @media #{$bp--small} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media #{$bp--medium} {
    &__header {
      width: w(8);
    }
    &__main {
      width: w(16);
    }
  }
  @media #{$bp--large} {
    &__header {
      width: w(6);
    }
    &__main {
      width: w(14);
    }
    &__sidebar--first {
      width: w(4);
    }
  }
}