<!doctype html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="site">
{% include "organisms/site-header/site-header.html" %}
<main class="site__main page">
  {% if title %}<h2 class="page__title">{{ title }}</h2>{% endif %}
  <article class="page__contents">
    {% block contents %}
    {% endblock %}
  </article>
</main>
<section class="site__sidebar site__sidebar--first sidebar">
  {% block sidebar1 %}
  {% endblock %}
</section>
<section class="site__sidebar site__sidebar--second sidebar">
  {% block sidebar2 %}
  {% endblock %}
</section>
{% include "organisms/site-footer/site-footer.html" %}
</body>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</html>
