$width-xs: 400px !default;
$width-s: 480px !default;
$width-m: 640px !default;
$width-l: 768px !default;
$width-xl: 1000px !default;
$width-xxl: 1200px !default;
$width-xxxl: 1600px !default;

@mixin mq($query) {
  @if $query == m {
    @media (min-width: #{$width-m}) {
      @content;
    }
  } @else if $query == xl {
    @media (min-width: #{$width-xl}) {
      @content;
    }
  }
}
