$width-xsmall: 400px !default;
$width-small: 480px !default;
$width-medium: 640px !default;
$width-large: 768px !default;
$width-xlarge: 1000px !default;
$width-xxlarge: 1200px !default;
$width-xxxlarge: 1600px !default;

@mixin bp--medium {
  @media (min-width: #{$width-medium}) {
    @content;
  }
}

@mixin bp--xlarge {
  @media (min-width: #{$width-xlarge}) {
    @content;
  }
}
