// Some of the font families have to be renamed to use the proper one once we have the web font provider setup.
$font--family--regular: 'Open Sans', sans-serif;
$font--family--alternate: 'Georgia', sans-serif;

$font--family--regular: $font--family--regular;
$font--family--regular--bold: $font--family--regular;
$headline-font-family: $font--family--regular;
$font--mono: Monaco,"DejaVu Sans Mono","Courier New",monospace;
