/**
 *
 * Settings variables
 *
 */

// Basic layout
$spacing: 2rem;
$gap: 1rem;
$border: solid 1px $color--gray;

$z-index: (
  modal: 100,
  modalBG: 90,
  navFixed: 80,
  tooltip: 70,
  popover: 60,
  dropdown: 50,
  nav: 50,
  contentTop: 40,
  content: 30,
  contentBottom: 20,
);

@function z($key) {
  @return map-get($z-index, $key)
}


$trans-time: 0.3s;
$trans-prop: all;
$trans-func: ease-in;
$trans-all: $trans-time $trans-prop $trans-func;
$trans: $trans-time $trans-func;

