<a href="#" class="button">Link Button</a>
<button class="button">Button element button</button>
<input type="submit" class="button" value="Submit button" />
<br>
<a href="#" class="button button--primary">Primary Button</a>
<a href="#" class="button button--alt">Alt Button</a>

<br>
<a href="#" class="button button--sm">Small Button</a>
<a href="#" class="button button--lg">Large Button</a>
