@mixin btn($baseStyles: false, $modifier: false) {
  @if $baseStyles {
    border: $border;
    padding: $gap ($gap * 2);
    display: inline-block;
    border-radius: 2px;
    @include depth(6, $baseStyles: true);
    &:hover {
      @include depth(7);
    }
    &:active {
      @include depth(12);
    }
  }
  @if $modifier == "primary" {
    background: $color--green;
    color: white;
  }
}

.btn {
  @include btn($baseStyles: true);
  &--primary {
    @include btn($modifier: "primary")
  }
}
