@mixin card($includeDepth: true) {
  @if $includeDepth {
    @include depth(1, $baseStyles: true);
  }
  padding: $gap;
  margin-bottom: $spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

.card {
  @include card();
}
