<pre>
  <code>
function styleguide(component, variants) {
  variants.forEach(variant => {
    render(component, variant);
  }
}
  </code>
</pre>

<p>;Lorem ipsum <code>dolor sit amet</code>, consectetur adipisicing elit. <code>Animi architecto asperiores aspernatur deleniti dignissimos et impedit ipsa laboriosam</code> laudantium, numquam obcaecati odit officiis omnis, perspiciatis quae repellat repudiandae? Fuga, natus.</p>
