<ul>
    <li>Unordered List Items</li>
    <li>Unordered List Items</li>
    <li>Unordered List Items</li>
    <li>Unordered List Items
        <ul>
            <li>Unordered List Items</li>
            <li>Unordered List Items
                <ul>
                    <li>Unordered List Items</li>
                    <li>Unordered List Items</li>
                    <li>Unordered List Items</li>
                </ul>
            </li>
            <li>Unordered List Items</li>
        </ul>
    </li>
    <li>Unordered List Items</li>
    <li>Unordered List Items</li>
</ul>

<hr />

<ol>
    <li>Ordered List Items</li>
    <li>Ordered List Items</li>
    <li>Ordered List Items
        <ol>
            <li>Ordered List Items</li>
            <li>Ordered List Items</li>
            <li>Ordered List Items</li>
            <li>Ordered List Items</li>
            <li>Ordered List Items</li>
        </ol>
    </li>
    <li>Ordered List Items</li>
    <li>Ordered List Items</li>
</ol>
