$nav-toggle: (
  size: 42px,
  lineWidth: 26px,
  rightOffset: ms(2),
  bottomOffset: ms(6),
);
.nav-toggle {
  position: fixed;
  bottom: map-get($nav-toggle, bottomOffset);
  right: map-get($nav-toggle, rightOffset);
  background: $c-blue;
  width: map-get($nav-toggle, size);
  height: map-get($nav-toggle, size);
  cursor: pointer;
  border-radius: (map-get($nav-toggle, size) / 2);
  transition: right ease-out 0.4s;
  z-index: 101; // @todo improve
  //@media #{$bp--small} {
  //  bottom: auto;
  //  top: ms(6);
  //}
  @media #{$bp--large} {
    display: none;
  }
  &:before,
  &:after {
    content: '';
    color: white;
    //font-size: 2em;
    display: inline-block;
    border-radius: 2px;
    height: 2px;
    width: map-get($nav-toggle, lineWidth);
    background: white;
    position: absolute;
    left: ( map-get($nav-toggle, size) - map-get($nav-toggle, lineWidth) ) / 2;
    transition: all ease-out 0.4s;
    transform-origin: 6.5px center;
  }
  &:before {
    top: 35%;
  }
  &:after {
    bottom: 35%;
  }
  .site-header-toggle:checked ~ & {
    right: calc(#{map-get($nav-toggle, rightOffset)} + #{$site-header-width-on-side});
    &:before {
      transform: rotate(45deg);
      left: (( map-get($nav-toggle, size) - map-get($nav-toggle, lineWidth) ) / 2) + 2;
    }
    &:after {
      transform: rotate(-45deg);
      left: (( map-get($nav-toggle, size) - map-get($nav-toggle, lineWidth) ) / 2) + 2;
    }
  }
}
