---
title: Blog
layout: default
menu: main
redirect_from: 
  - /blog/technology/
  - /blog/personal/
  - /blog/ashtanga-vinyasa-yoga/
  - /blog/photography/

---
<section>
{% comment %}
  <header class="archive-header">
    <!-- {% include subscribe.html %} -->
    <h2 class="archive-title"><i class="icon-folder-open-alt"></i>Category: </h2>
    <ul class="nav nav-pills">
      <li class="current-cat"><a href="/blog/technology/" data-original-title="Covering Web Design, Front End Web Development, Macs, iPhones, software, and more.">Technology</a>
      </li>
      <li><a href="/blog/personal/" data-original-title="Updates on my personal life &amp; my travel stories.">Personal</a>
      </li>
      <li><a href="/blog/ashtanga-vinyasa-yoga/" data-original-title="The type of yoga I teach &amp; practice.">Ashtanga Vinyasa Yoga</a>
      </li>
      <li><a href="/blog/photography/" data-original-title="New photos and albums from me!">Photography</a>
      </li>
    </ul>
    <p class="archive-meta">
      Covering Web Design, Front End Web Development, Macs, iPhones, software, and more.
    </p>
  </header>
  {% endcomment %}
  <p class="subscribe shame" style="text-align: right;">Subscribe to Evan Lovely's Site via <a href="/feed" style="text-decoration: none;">RSS <i class="icon-rss"></i></a> or by <a href="/subscribe">Email <i class="icon-envelope"></i></p>
  {% for post in paginator.posts %}
    {% include blog--teaser.html %}
  {% endfor %}

  <ul class="pager">
  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/blog">← Previous</a>
      {% else %}
        <a href="/blog/{{ paginator.previous_page_path }}">← Previous</a>
      {% endif %}
    </li>
  {% else %}
  {% endif %}

  {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path }}">Next →</a>
    </li>
  {% else %}
  {% endif %}

  </ul>

</section>
