<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

    <!-- bower:css -->
    <!-- endbower -->

    <!-- injector:css -->
    <link rel="stylesheet" href="../../../../css/style.css" media="all" />
    <!-- endinjector -->

    <!-- bower:js -->
    <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../../bower_components/modernizr/modernizr.js"></script>
    <script src="../../../../bower_components/lodash/lodash.js"></script>
    <script src="../../../../bower_components/matchMedia/matchMedia.js"></script>
    <script src="../../../../bower_components/picturefill/dist/picturefill.js"></script>
    <!-- endbower -->
    
    <!-- injector:js -->
    <script src="../../../../js/script.js"></script>
    <!-- endinjector -->
    
    
  </head>
  <body class="{{ bodyClass }}">
