---
title: Notes
layout: default
---
<p class="intro">Welcome to my notes section! I try to maintain and constantly update the information on these pages. Think of them as my personal wiki of information that I want to share – enjoy!</p>

<ul>
{% for weight in (1..10) %}{% for page in site.pages %}
  {% if page.layout == "note" and page.weight == weight %}
    <li><a href="{{ page.url }}">{{ page.title }}</a>{% if page.teaser_text %} – {{ page.teaser_text }}{% endif %}</li>
  {% endif %}
{% endfor %}{% endfor %}
</ul>