<div class="sg-spacing">
    <div data-spacing="ms(0)"></div>
    <div data-spacing="ms(1)"></div>
    <div data-spacing="ms(2)"></div>
    <div data-spacing="ms(3)"></div>
    <div data-spacing="ms(4)"></div>
    <div data-spacing="ms(5)"></div>
    <div data-spacing="ms(6)"></div>
    <div data-spacing="ms(7)"></div>
    <div data-spacing="ms(8)"></div>
    <div data-spacing="ms(9)"></div>
</div>
