<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width"/>
  <title>{% if page.layout == "home" %}Home{% else %}{{ page.title }}{% endif %} | {{ site.name }}</title>
  <meta name="description" content="{{ page.teaser }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/rss.xml">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,600,300">
  <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div class="site hfeed">

  <header class="site__header header" role="banner">
    <h1 class="header__name"><a href="/" title="Evan Lovely" rel="home">Evan Lovely</a></h1>
    <a href="#" class="header__toggle js-site__nav-toggle">Menu</a>
  </header>
  <nav class="site__nav">
    {% include menu--main.html %}
  </nav>
  

  <div class="site__content">
