<ul class="main-nav">
    <li class="main-nav__item"><a class="main-nav__link" href="/">Home</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="/portfolio">Portfolio</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="/blog">Blog</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="/notes">Notes</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="/utilities">Utilities</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="/reviews">Reviews</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="/contact">Contact</a></li>
</ul>
