<div id="mc_embed_signup" class="subscribe">
  <form action="http://evanlovely.us6.list-manage.com/subscribe/post?u=11269a7d5a98c68b88d358ca6&amp;id=fd3f801d29"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate="">

    <div class="mc-field-group input-prepend input-append">
      <span class="add-on icon-envelope"></span>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Subscribe via Email">
      <input type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary add-on">
    </div>
    <div class="mc-field-group input-group">
      <label class="checkbox inline" for="mce-group[5377]-5377-0">
        <input type="checkbox" value="1" name="group[5377][1]" id="mce-group[5377]-5377-0">
        Tech
      </label>
      <label class="checkbox inline" for="mce-group[5377]-5377-1">
        <input type="checkbox" value="2" name="group[5377][2]" id="mce-group[5377]-5377-1">
        Photos
      </label>
      <label class="checkbox inline" for="mce-group[5377]-5377-2">
        <input type="checkbox" value="4" name="group[5377][4]" id="mce-group[5377]-5377-2">
        Yoga
      </label>
      <label class="checkbox inline" for="mce-group[5377]-5377-3">
        <input type="checkbox" value="8" name="group[5377][8]" id="mce-group[5377]-5377-3">
        Personal
      </label>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
  </form>
</div>
