<div class="sg-depth">
    <div class="sg-depth__item"></div>
    <div class="sg-depth__item"></div>
    <div class="sg-depth__item"></div>
    <div class="sg-depth__item"></div>
    <div class="sg-depth__item"></div>
    <div class="sg-depth__item"></div>
</div>
