<!doctype html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
{% include "organisms/site-header.html" %}
<main class="page">
  {% if title %}<h2 class="page__title">{{ title }}</h2>{% endif %}
  <div class="page__contents">
    {% block contents %}
    {% endblock %}
  </div>
</main>

</body>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</html>
