$bp--small: 'screen and (min-width: 600px)';
$bp--medium: 'screen and (min-width: 900px)';
$bp--large: 'screen and (min-width: 1200px)';
$bp--xlarge: 'screen and (min-width: 1400px)';
$bp--xxlarge: 'screen and (min-width: 1900px)';
$bp--xxxlarge: 'screen and (min-width: 2200px)';
