$ff--headings: "bree", sans-serif;
$ff--sans-serif: $ff--headings;

$ff--serif: "chaparral-pro", serif;
$ff--body: $ff--serif;

$ff--mono: "Inconsolata", serif, monospace;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  //font-size: 2vw;
  font-family: $ff--body;
  @media #{$bp--small} {
    font-size: 18px;
    //font-size: 3vw;
  }

  @media #{$bp--medium} {
    font-size: 20px;
    //font-size: 2vw;
  }
  @media #{$bp--large} {
    font-size: 22px;
    //font-size: 4vw;
  }
}

@mixin headings() {
  font-family: $ff--headings;
  font-weight: 300;
  font-style: normal;
}

.big-type {
  @include headings();
  margin: 0 0 ms(4);
  font-size: ms(10);
}

@mixin h1() {
  @include headings();
  margin: 0 0 ms(4);
  font-size: ms(8);
  text-indent: -.075em;
}
h1, .h1 { @include h1(); }

@mixin h2() {
  @include headings();
  margin: 0 0 ms(3);
  font-size: ms(7);
  text-indent: -.075em;
}
h2, .h2 { @include h2(); }

@mixin h3() {
  @include headings();
  margin: 0 0 ms(3);
  font-size: ms(6);
  text-indent: -.07em;
}
h3, .h3 { @include h3(); }

@mixin h4() {
  @include headings();
  margin: 0 0 ms(2);
  font-size: ms(5);
  text-indent: -.05em;
}
h4, .h4 { @include h4(); }

@mixin h5() {
  @include headings();
  margin: 0 0 ms(2);
  font-size: ms(4);
  text-indent: -.05em;
}
h5, .h5 { @include h5(); }

@mixin h6() {
  @include headings();
  margin: 0 0 ms(2);
  font-size: ms(3);
  text-indent: -.05em;
}
h6, .h6 { @include h6(); }

p {
  //font-size: ms(3);
  margin: 0 0 ms(3);
  &.intro {
    font-size: ms(4);
  }
}

pre {
  font-family: $ff--mono;
  border-radius: ms(1);
  white-space: pre-wrap;
  word-break: break-all;
  //font-size: 0.8em;
}

code {
  font-family: $ff--mono;
  background: transparentize($c-gray--lightest, 0.2);
  padding: 0 3px;
  border-radius: 4px;
}

a {
  .theme--light & {
    color: $c-orange;
  }
  .theme--dark & {
    color: $c-orange--light;
  }
}

blockquote {
  font-size: 1.25em;
  margin: 0 0 ms(3);
  padding-left: ms(1);
  border-left: solid 3px $c-border;
  font-style: italic;
}

ul,
ol {
  margin: 0 0 ms(3) ms(2);
  padding: 0;
}

hr {
  border: none;
  height: 1px;
  background: $c-border;
  margin: 0 0 ms(3);
}

.small {
  font-size: .85em;
}
