---
title: Personal Blog
layout: default
---
<section>
  <header class="archive-header">
    <!-- {% include subscribe.html %} -->
    <h2 class="archive-title"><i class="icon-folder-open-alt"></i>Category: </h2>
    <ul class="nav nav-pills">
      <li><a href="/blog/technology/" data-original-title="Covering Web Design, Front End Web Development, Macs, iPhones, software, and more.">Technology</a>
      </li>
      <li class="current-cat"><a href="/blog/personal/" data-original-title="Updates on my personal life &amp; my travel stories.">Personal</a>
      </li>
      <li><a href="/blog/ashtanga-vinyasa-yoga/" data-original-title="The type of yoga I teach &amp; practice.">Ashtanga Vinyasa Yoga</a>
      </li>
      <li><a href="/blog/photography/" data-original-title="New photos and albums from me!">Photography</a>
      </li>
    </ul>
    <p class="archive-meta">
      Updates on my personal life &amp; my travel stories.
    </p>
  </header>

  {% for post in site.categories.personal %}
    {% include blog--teaser.html %}
  {% endfor %}

</section>
