
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
      <link
        href='https://fonts.googleapis.com/css?family=Inconsolata&subset=latin'
        rel='stylesheet'
        type='text/css'
      >
  </body>
</html>
